.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.Rdata
.httr-oauth
.DS_Store

*cache/
data-figures-prep/
data-raw/ebd_*
workshops/*/data-raw/ebd_*
workshops/*/ebird-downloads/
workshops/*/ebirdst-data/
workshops/*/*.zip
workshops/*/data/environmental-variables_checklists_jan-dec_pa.csv
workshops/*/feature-assignment.r
